body{
    height: 100%;
    width: 100%;
    position: absolute;
}
.navbar{
    display: flex;
    width: 100%;
    height: 76px;
    align-items: center;
    color: #0170b9;
    font-size: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
}
ul{
    list-style-type: none;
    margin : 0;
}
li{
    float: left;
    padding: 10px 10px 0px 10px;
}
li a{
    display: block;
    text-align: center;
}
.logo{
    height: 47px;
    width: 103px;
    padding-left: 69px;
    padding-right: 650px;
    margin-top: 26px;
    margin-bottom: 35px;
}
.header-content{
    text-align: center;
    font-size: 30px;
    padding-top: 130px;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
    padding-right: 130px;
    padding-left: 114px;
}
p{
    padding-top: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    top: 40px;
}
